@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

.h2{
  font-size: 14px;
  color: #666;
  margin: 30px;
}

.container {
  text-align: center;
  width: 375px;
  height: 570px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.header {
  height: 50px;
  background: rgba(255,0,0,0.25);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 10px;
}

.main {
  height: calc(100vh - 50px);
  border: 1 px solid #000
}

.img-wrapper{
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.developer-photo {
  width: 170px;
  margin-top: -50px;
}

.tytle {
  height: 120px;
  width: 350px;

  font-size: 24px;
  margin-bottom: 10px;
  
}
button{
  height: 47px;
  width: 208px;
  background: red;
  color: white;
  border-radius: 13px;
}
i{
  font-size: 30px;
}
button:hover {
    background-color: darkred;
}

